{% extends "row.html" %}

{% block title %}Professional Summary{% endblock %} 

{% block data %}
<div id="professionalSummary">
    Ambitious Senior Software Engineer with 7+ years of experience building end-to-end products across the full tech stack. Proven track record in architecting scalable data pipelines and shipping core features for complex enterprise software. Passionate about solving customer problems through high-quality code and thriving in fast-paced, collaborative environments.
</div>
{% endblock %}