{% extends "row.html" %}

{% block title %}Work{% endblock %} 

{% block data %}
<ul class="xpList">
    <li class="xpItem">
        <div>
            <span class="xpName">
            Technical Staff at <a target="_blank" href="https://aerospace.org/">The Aerospace Organization</a>
            </span>
            (2022-present):
        </div>
        <div class="xpDescription">
            <ul><li>Architected and developed complex satellite communication simulators to model system-level interactions and critical requirements.</li><li>Cross-Functional Collaboration: Partnered with government and contractor teams to translate  technical tradeoffs into actionable insights for non-technical stakeholders.</li><li>Demonstrated high ownership by managing the end-to-end lifecycle of simulation tools used for mission-critical verification.</li></ul>
        </div>
    </li>
    <li class="xpItem">
        <div>
            <span class="xpName">
            Business Intelligence Developer at <a target="_blank" href="https://www.aspirehealthplan.org/">Aspire</a>
            </span>
            (2021-2022):
        </div>
        <div class="xpDescription">
            <ul><li>Data Pipeline Engineering: Designed, implemented, and operated a C++ data-extraction pipeline runner featuring robust monitoring, validation, and scheduling.</li><li>Customer-Centric Logic: Gathered requirements and implemented complex logic for client-requested data reports, directly impacting business intelligence delivery.</li><li>Developed and maintained an Enterprise Data Warehouse to support all organizational business needs</li></ul>
        </div>
    </li>
    <li class="xpItem">
        <div>
            <span class="xpName">
            Full Stack Engineer at Defie
            </span>
            (2018-2021):
        </div>
        <div class="xpDescription">
            <ul><li>Built and shipped features for an <a target="_blank" href="https://en.wikipedia.org/wiki/Enterprise_resource_planning">Enterprise Resource Planning (ERP) software.</a></li><li>Designed ~40 resource-oriented data models and oversaw their lifecycle implementations.</li><li>Maintained and architecturally restructured a large-scale legacy GoLang codebase (134k LOC), resulting in a 66% reduction of total lines of code while improving maintainability.</li></ul>
        </div>
    </li>
</ul>
{% endblock %}