{% extends "row.html" %}

{% block title %}Personal Projects{% endblock %} 

{% block data %}
<ul class="xpDescription" style="margin-top:0px;margin-bottom:0px;">
    <li>
        Hardware/Software Integration: Created a N64 game cartridge runnable on original hardware using C++, RaspberryPi Zero, and FreeCAD.
    </li>
    <li>
        IoT Development: Developed a wireless remote for home automation and a wireless sensor system for garden moisture monitoring using ESP8622.
    </li>
</ul>
{% endblock %}