{% extends "row.html" %}

{% block title %}Technical Skills{% endblock %} 

{% block data %}
<div style="margin-bottom:5px;">
    <b>Frontend</b>: 
        <a target="_blank" href="https://react.dev/">React/Next.js</a> (7 yrs), 
        <a target="_blank" href="https://www.w3schools.com/html/">html/css</a> (7 yrs), 
        <a target="_blank" href="https://www.w3schools.com/js/">Javascript</a> (7 yrs)
</div>
<div style="margin-bottom:5px;">
    <b>Backend and Data</b>: 
        <a target="_blank" href="https://www.python.org/">Python</a> (3 yrs),
        <a target="_blank" href="https://en.wikipedia.org/wiki/SQL">SQL</a> (5 yrs),
        <a target="_blank" href="https://nextjs.org/">Javascript</a> (7 yrs),
        <a target="_blank" href="https://nodejs.org/en">Node.js</a> (7 yrs)
</div>
<div style="margin-bottom:5px;">
    <b>DevOps &amp; Infrastructure</b>:
        <a target="_blank" href="https://www.atlassian.com/software/jira">JIRA</a> (3 yrs),
        <a target="_blank" href="https://git-scm.com/">GIT</a> (7 yrs),
        <a target="_blank" href="https://kubernetes.io/">Kubernetes</a> (7 yrs),
        <a target="_blank" href="https://aws.amazon.com/">AWS</a> (3 yrs)
</div>
<div style="margin-bottom:5px;">
    <b>Core Languages</b>:
        <a target="_blank" href="https://www.python.org/">Python</a> (7 yrs),
        <a target="_blank" href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)">Javascript</a> (7 yrs),
        <a target="_blank" href="https://go.dev/">GoLang</a> (5),
        <a target="_blank" href="https://rust-lang.org/">Rust</a> (2)
</div>
{% endblock %}