<html lang="en">
<head>
    <meta http-equiv="origin-trial" content="A7vZI3v+Gz7JfuRolKNM4Aff6zaGuT7X0mf3wtoZTnKv6497cVMnhy03KDqX7kBz/q/iidW7srW31oQbBt4VhgoAAACUeyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGUuY29tOjQ0MyIsImZlYXR1cmUiOiJEaXNhYmxlVGhpcmRQYXJ0eVN0b3JhZ2VQYXJ0aXRpb25pbmczIiwiZXhwaXJ5IjoxNzU3OTgwODAwLCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta charset="utf-8">
    <title>Michael's Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/logo.png' ) }}">
<!-- <script type="text/javascript" async="" charset="utf-8" src="https://www.gstatic.com/recaptcha/releases/7gg7H51Q-naNfhmCP3_R47ho/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-TnttG+UhZcM8I0YLwHFXmjuU0uVv/3X99Itc+0eiXTiqtrwYAZwNs8Q9WliKgfF8"></script><script src="https://www.google.com/recaptcha/enterprise.js?render=6LdRFy4rAAAAAOCnwgBUYMj4Bx_8G_pJrzPejUJ8"></script> -->
</head>
<body id="entrypoint">
    <div id="links">
        <a href="https://www.linkedin.com/in/michael-airola-122702162/" target="_blank"><img class="icon" src="{{ url_for('static', filename='icons/linkedin.svg') }}"></a>
        <a href="https://github.com/michaelairola" target="_blank"><img class="icon" src="{{ url_for('static', filename='icons/github.svg') }}"></a>
        <a href="#" onclick="window.print(); return false;" target="_blank"><img class="icon" src="{{ url_for('static', filename='icons/pdf.svg') }}"></a>
        <a href="https://blog.michaelairola.com" target="_blank"><img class="icon" src="{{ url_for('static', filename='icons/blogging.svg') }}"></a>
        <a href="https://www.cookbook.michaelairola.com/" target="_blank"><img class="icon" src="{{ url_for('static', filename='icons/cookbook.svg') }}"></a>
    </div>
<div id="resume">
    <div id="header" class="row">
        <div class="outside-box"></div>
        <div id="info" class="right">
            <div id="name">Michael Airola</div>
            <div><span>831-210-9163</span> | <span><a target="_blank" href="mailto:me@michaelairola.com">me@michaelairola.com</a></span></div>
        </div>
        <div id="initials" class="largeCircleContainer">
            <div class="circle large-circle"><text id="initials">MA</text></div>
        </div>
    </div>

  	<div class="row">
  		<div class="outside-box"></div>
  		<div class="left cell">Professional Summary</div>
  		<span class="mid cell">
			<div class="smallCircleContainer">
				<div class="circle small-circle"></div>
			</div>
			<div class="line1"></div>
			<div class="line2"></div> 
		</span>
  		<div class="right cell">
            <div id="professionalSummary">Ambitious Senior Software Engineer with 7+ years of experience building end-to-end products across the full tech stack. Proven track record in architecting scalable data pipelines and shipping core features for complex enterprise software. Passionate about solving customer problems through high-quality code and thriving in fast-paced, collaborative environments.
            </div>
  		</div>
  	</div>

  	<div class="row">
  		<div class="outside-box"></div>
  		<div class="left cell">Work</div>
  		<span class="mid cell">
			<div class="smallCircleContainer">
				<div class="circle small-circle"></div>
			</div>
			<div class="line1"></div>
			<div class="line2"></div> 
		</span>
  		<div class="right cell">
		<ul class="xpList">
			<li class="xpItem">
				<div>
					<span class="xpName">
					Technical Staff at <a target="_blank" href="https://aerospace.org/">The Aerospace Organization</a>
					</span>
					(2022-present):
				</div>
				<div class="xpDescription">
					<ul><li>Architected and developed complex satellite communication simulators to model system-level interactions and critical requirements.</li><li>Cross-Functional Collaboration: Partnered with government and contractor teams to translate  technical tradeoffs into actionable insights for non-technical stakeholders.</li><li>Demonstrated high ownership by managing the end-to-end lifecycle of simulation tools used for mission-critical verification.</li></ul>
				</div>
			</li>
			<li class="xpItem">
				<div>
					<span class="xpName">
					Business Intelligence Developer at <a target="_blank" href="https://www.aspirehealthplan.org/">Aspire</a>
					</span>
					(2021-2022):
				</div>
				<div class="xpDescription">
					<ul><li>Data Pipeline Engineering: Designed, implemented, and operated a C++ data-extraction pipeline runner featuring robust monitoring, validation, and scheduling.</li><li>Customer-Centric Logic: Gathered requirements and implemented complex logic for client-requested data reports, directly impacting business intelligence delivery.</li><li>Developed and maintained an Enterprise Data Warehouse to support all organizational business needs</li></ul>
				</div>
			</li>
			<li class="xpItem">
				<div>
					<span class="xpName">
					Full Stack Engineer at Defie
					</span>
					(2018-2021):
				</div>
				<div class="xpDescription">
					<ul><li>Built and shipped features for an <a target="_blank" href="https://en.wikipedia.org/wiki/Enterprise_resource_planning">Enterprise Resource Planning (ERP) software.</a></li><li>Designed ~40 resource-oriented data models and oversaw their lifecycle implementations.</li><li>Maintained and architecturally restructured a large-scale legacy GoLang codebase (134k LOC), resulting in a 66% reduction of total lines of code while improving maintainability.</li></ul>
				</div>
			</li>
		</ul>
  		</div>
  	</div>
  	
  	<div class="row">
  		<div class="outside-box"></div>
  		<div class="left cell">Personal Projects</div>
  		<span class="mid cell">
			<div class="smallCircleContainer">
				<div class="circle small-circle"></div>
			</div>
			<div class="line1"></div>
			<div class="line2"></div> 
		</span>
  		<div class="right cell">
            <ul class="xpDescription" style="margin-top:0px;margin-bottom:0px;">
                <li>Hardware/Software Integration: Created a N64 game cartridge runnable on original hardware using C++, RaspberryPi Zero, and FreeCAD.</li><li>IoT Development: Developed a wireless remote for home automation and a wireless sensor system for garden moisture monitoring using ESP8622.</li>
            </ul>
  		</div>
  	</div>
  	
  	<div class="row">
  		<div class="outside-box"></div>
  		<div class="left cell">Technical Skills</div>
  		<span class="mid cell">
			<div class="smallCircleContainer">
				<div class="circle small-circle"></div>
			</div>
			<div class="line1"></div>
			<div class="line2"></div> 
		</span>
  		<div class="right cell">
  			
		<div style="margin-bottom:5px;">
			<b>Frontend</b>: <a target="_blank" href="https://react.dev/">React/Next.js</a> (7 yrs), <a target="_blank" href="https://www.w3schools.com/html/">html/css</a> (7 yrs), <a target="_blank" href="https://www.w3schools.com/js/">Javascript</a> (7 yrs)
			</div><div style="margin-bottom:5px;">
			<b>Backend and Data</b>: <a target="_blank" href="https://www.python.org/">Python</a> (3 yrs), <a target="_blank" href="https://en.wikipedia.org/wiki/SQL">SQL</a> (5 yrs), <a target="_blank" href="https://nextjs.org/">Javascript</a> (7 yrs), <a target="_blank" href="https://nodejs.org/en">Node.js</a> (7 yrs)
			</div><div style="margin-bottom:5px;">
			<b>DevOps &amp; Infrastructure</b>: <a target="_blank" href="https://www.atlassian.com/software/jira">JIRA</a> (3 yrs), <a target="_blank" href="https://git-scm.com/">GIT</a> (7 yrs), <a target="_blank" href="https://kubernetes.io/">Kubernetes</a> (7 yrs), <a target="_blank" href="https://aws.amazon.com/">AWS</a> (3 yrs)
			</div><div style="margin-bottom:5px;">
			<b>Core Languages</b>: <a target="_blank" href="https://www.python.org/">Python</a> (7 yrs), <a target="_blank" href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)">Javascript</a> (7 yrs), <a target="_blank" href="https://go.dev/">GoLang</a> (5), <a target="_blank" href="https://rust-lang.org/">Rust</a> (2)
			</div>
  		</div>
  	</div>
  	
  	<div class="row">
  		<div class="outside-box"></div>
  		<div class="left cell">Education</div>
  		<span class="mid cell">
			<div class="smallCircleContainer">
				<div class="circle small-circle"></div>
			</div>
			<div class="line1"></div>
		</span>
  		<div class="right cell">
  			<span style="font-weight:bold;">B.S. Mathematics (Physics Minor) | <a target="_blank" href="https://www.math.ucsb.edu/">UC Santa Barbara</a> 2016.</span>
  		</div>
  	</div>
  	</div>
</body></html>